html,
body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0.2%;
    padding-top: 0.2%;
}

.li {
    list-style: none;
    font-size: small;
}

.btn {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 10px;
    background-color: wheat;
    border-radius: 4px;
    border: 1px solid wheat;
    display: inline-block;
    cursor: pointer;
    color: #362a1a;
}

a:visited {
    color: #362a1a;
}

a:hover {
    color: #800000;
}