.img-sidebar {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-size: contain;
}

.img-post {
    width: 70%;
    height: 40%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center left;
}