@media(max-width:360px) {
    .media {
        display: flex;
        gap: 0;
    }
}

@media(min-width:768px) {
    .media {
        display: flexbox;
        align-items: center;
        justify-content: center;
    }
}

.justify {
    margin: 10px;
    padding: 0px;
}