.home-media {
    display: grid;
    place-items: center;
    padding: 4px;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.child {
    flex: 1 1 550px;
    margin: 4px;
}

.justify {
    margin: 10px;
}

.visual {
    aspect-ratio: 16/9;
}