/*
@media 

including custom images, layout, and styling. Along with webpage design considerations, you'll work to appropriately structure your files, as well as use proper CSS and HTML formatting & style.
Directories & Files: Files are organized with a directory structure that separates files based on page and functionality.

Links: user flow on each page with appropriate links as needed.
**

3 colors at least
Components:
img, img caption btns, card

Blog Post Card
    Card
    Image
    Buttons
Footer
Blog Post*
Header
Author Info
    Name
    Title
    Current Company/School
    Short Bio
    Avatar
Social Sharing
    Twitter
    Facebook
    LinkedIn

*/

@import './base.css';

/*^ display 100%, margin*/

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.hd {
    flex-direction: row;
    align-self: start;
    justify-content: start;
}

.ft {
    align-items: center;
    border: 2px solid maroon;
}

.box {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
}

h1 {
    font-size: 12px;
    margin-bottom: 0.1%;
    padding-top: 0.2%;
    padding-bottom: 0.1%;
    align-items: center;
}

p {
    font-size: 12px;
    margin-bottom: 0.1%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    border: 2px solid hotPink;
}

.footer {
    width: 100%;
    font-size: 12px;
    text-align: start;
}

.divider {
    height: 1px;
    color: #888
}

.color2 {
    background-color: #5d4037;
    color: #f7ddb5;
}

.color3 {
    background-color: #aeea00;
    color: #362a1a;
}

.li {
    list-style: none;
    font-size: small;
}