/*
use grid twice
grid-area
grid-template-areas

containers
flexboxes twice

align-items
justify-content

@media 
@media (min-width: 410px) and (max-width:820px)
@media (min-width: 760px) and (max-width:1020px)

including custom images, layout, and styling. Along with webpage design considerations, you'll work to appropriately structure your files, as well as use proper CSS and HTML formatting & style.

CSS Separate From HTML: 

Portfolio completely separates structure from design/style.
There are no attributes present in the body of the document.
There are no elements in the document.
CSS Imports: There should be at least 3 imported files in the main CSS file, but the student is welcome to break it down even further if that makes it easier for them.

Directories & Files: Files are organized with a directory structure that separates files based on page and functionality.

Links: user flow on each page with appropriate links as needed.
**

3 colors at least
Components:
img, img caption btns, card


The general pattern of the webpage should be as follows:

Blog Homepage*
Navbar
Blog Post Card
    Card
    Image
    Buttons
Footer
Blog Post*
Header
Author Info
    Name
    Title
    Current Company/School
    Short Bio
    Avatar
Social Sharing
    Twitter
    Facebook
    LinkedIn

*/

@import './base.css';
.main {
    display: grid;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(4 1fr 20px);
    grid-template-rows: repeat(4 1fr 20px);
}

.main-header {
    position: -webkit-sticky;
    height: 20%;
    width: 100%;
}

.box {
    display: flow;
    position: -webkit-sticky;
    height: 100%;
    width: 20%;
}

h1,
h2,
h3 {
    font-size: 12px;
    margin-bottom: 0.1%;
    padding-top: 0.2%;
    padding-bottom: 0.1%;
    padding-inline-start: 0.5%;
}

p {
    font-size: 12px;
    margin-bottom: 0.1%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    padding-inline-start: 0.3%;
}

.sidebar {
    width: 20%;
    height: 80%;
    font-size: 40px;
    text-align: center;
}

.footer {
    width: 100%;
    height: 20%;
    font-size: 12px;
    text-align: start;
}

.divider {
    height: 1px;
    color: #888
}

.color2 {
    background-color: #5d4037;
    color: #f7ddb5;
}

.color3 {
    background-color: #aeea00;
    color: #362a1a;
}