/*
including custom images, layout, and styling. Along with webpage design considerations, 
you'll work to appropriately structure your files, 
as well as use proper CSS and HTML formatting & style.

Links: user flow on each page with appropriate links as needed.
**

3 colors at least
Components:
img, img caption btns, card

Blog Post Card
    Card?
    Image/vid
    Buttons
Blog Post*
Author Info
    Name
    Title
    Current Company/School
    Short Bio
    Avatar
Social Sharing
    Twitter
    Facebook
    LinkedIn

*/

@import './base.css';
@media(max-width:360px) {
    .container {
        display: grid;
        grid-template-rows: 1fr;
        gap: 6px;
        width: 100%;
    }
    .card {
        display: flex;
        grid-column: 1 / -1;
        justify-content: start;
        width: 100%;
    }
    .ft {
        grid-column: auto;
    }
}

@media(min-width:767px) {
    .container {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: fit-content(400px) 1fr;
        grid-template-rows: 1fr, 2fr;
        gap: 8px;
        height: 700px;
    }
    .nav {
        flex-direction: column;
        align-self: start;
        justify-content: start;
        grid-row: auto / span 3;
    }
    .ft {
        align-items: center;
        grid-column: auto / span 3;
    }
    .card {
        display: flex;
        align-items: center;
        justify-content: start;
        grid-template-columns: subgrid;
        grid-column: auto / span 2;
    }
}

h1 {
    font-size: 12px;
    align-items: center;
    margin: 2%;
}

.card h2 {
    text-align: start;
    margin: 0;
    padding: 2%;
}

.card p {
    font-size: 14px;
    margin: 0;
    padding: 10px;
}

.footer {
    width: 100%;
    font-size: 10px;
    text-align: start;
}

.color2 {
    background-color: #5d4037;
    color: #f7ddb5;
}

.color3 {
    background-color: #aeea00;
    color: #362a1a;
}